dir = .

[ req ]
default_bits = 2048
default_keyfile = privkey.pem
default_md = sha256
string_mask = utf8only
distinguished_name = req_distinguished_name
req_extensions = v3_req

[ ca ]
default_ca = CA_default

[ CA_default ]
dir = .  # Where everything is kept
serial = $dir/serial   # The current serial number
database = $dir/index.txt # database index file.
new_certs_dir = $dir/issued  # default place for new certs.
certificate = $dir/cacert.pem  # The CA certificate
private_key = $dir/private/cakey.pem # The private key
default_days = 730   # how long to certify for
default_md = sha256  # use public key default MD
preserve = no   # keep passed DN ordering
email_in_dn = no
name_opt = ca_default  # Subject Name options
cert_opt = ca_default  # Certificate field options
policy = policy_match
copy_extensions = copy
unique_subject = no

certs = $dir/certs  # Where the issued certs are kept
crl_dir = $dir/crl  # Where the issued crl are kept

crlnumber = $dir/crlnumber # the current crl number
     # must be commented out to leave a V1 CRL
crl = $dir/crl.pem   # The current CRL
RANDFILE = $dir/private/.rand # private random number file

x509_extensions = usr_cert  # The extensions to add to the cert

# Extensions to add to a CRL. Note: Netscape communicator chokes on V2 CRLs
# so this is commented out by default to leave a V1 CRL.
# crlnumber must also be commented out to leave a V1 CRL.
# crl_extensions = crl_ext

default_crl_days = 30   # how long before next CRL

# A few difference way of specifying how similar the request should look
# For type CA, the listed attributes must be the same, and the optional
# and supplied fields are just that :-)

[ policy_match ]
countryName = match
stateOrProvinceName = match
organizationName = match
organizationalUnitName = optional
commonName = supplied
emailAddress = optional

# For the 'anything' policy
# At this point in time, you must list all acceptable 'object'
# types.
[ policy_anything ]
countryName = optional
stateOrProvinceName = optional
localityName = optional
organizationName = optional
organizationalUnitName = optional
commonName = supplied
emailAddress = optional

####################################################################
# req_extensions = v3_req # The extensions to add to a certificate request

[ req_distinguished_name ]
0.organizationName = Organization Name (eg, company)
#1.organizationName = Second Organization Name (eg, company)
organizationalUnitName = Organizational Unit Name (eg, section)
emailAddress = Email Address
emailAddress_max = 64
localityName = Locality Name (eg, city)
stateOrProvinceName = State or Province Name (full name)
countryName = Country Name (2 letter code)
countryName_min = 2
countryName_max = 2
commonName = Common Name (e.g. server FQDN or YOUR name)
commonName_max = 64

0.organizationName_default = My org name
#1.organizationName_default = My sub org name
organizationalUnitName_default = My org unit
localityName_default = Seattle
stateOrProvinceName_default = Washington
countryName_default = US


[ usr_cert ]
basicConstraints = critical, CA:FALSE
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always, issuer:always

# nsComment = "OpenSSL Generated Certificate"

[ v3_req ]
# Extensions to add to a certificate request
basicConstraints = critical, CA:FALSE
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always, issuer:always
keyUsage = nonRepudiation, digitalSignature, keyEncipherment

[ v3_ca ]
basicConstraints = critical, CA:TRUE
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always, issuer:always
keyUsage = critical, cRLSign, digitalSignature, keyCertSign

# Include email address in subject alt name: another PKIX recommendation
subjectAltName=email:copy
# Copy issuer details
issuerAltName=issuer:copy

[ v3_ica ]
basicConstraints = critical, CA:TRUE, pathlen:0
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always, issuer:always
keyUsage = critical, cRLSign, digitalSignature, keyCertSign

[ v3_server ]
basicConstraints = CA:FALSE
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always, issuer:always
keyUsage = digitalSignature, keyEncipherment, dataEncipherment
extendedKeyUsage = clientAuth, serverAuth
